@import "tailwindcss";

@theme {
  --color-brand-dark-blue: #003f7c;
  --color-brand-light-blue: #1a8acd;
  --color-brand-yellow: #ffed38;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background-color: var(--color-brand-dark-blue);
}
